@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');
body{
  font-family: 'Open Sans', sans-serif !important;
  overflow-y: scroll !important; /* Show vertical scrollbar */

}
body.modal-open { /** fixes modal moving background when open*/
  margin-right: 0 !important;
  padding: 0 !important;
}

td{
  cursor: pointer;
}

.navbar, #nav1,#nav2,#nav3{
  font-family: 'Open Sans', sans-serif;
  font-size:large
}

a.nav-link:hover{
  text-decoration: underline;
}

@media screen and (max-height: 600px){
  .card-body{
    max-height: 45vh;
    padding: 0;
  }
 
  .locdep{
    max-height: 51vh;
  }

}

@media screen and (min-height: 601px) and (max-height:1000px){
  .card-body{
    max-height: 60vh;
  }

  .locdep{
    max-height: 66vh;
  }

}
@media screen and (min-height: 1001px){
  .card-body{
    max-height: 74vh;
  }

  .locdep{
    max-height: 80vh;
  }
}

@media screen and (max-width:799px){
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  
}

@media screen and (min-width:800px){
  .mobile{
    display: none;
  }
  .desktop{
    display: block;
  }
 
}

@media screen and (min-width: 800px) { /** set icons for nav menu*/
  #nav1:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f007";
  }
  #nav1:after{
    content: "Employees";
  }
  #nav2:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0c0";
  }
  #nav2:after{
    content: "Department";
  }
  #nav3:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f1ad";
  }
  #nav3:after{
    content: "Location";
  }
}


@media screen and (max-width: 800px) {
  #nav1:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f007 ";
  }
  #nav1:focus:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f007";
  }
  #nav1:focus:after{
    content: "Employees";
  }

  #nav2:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0c0";
  }
  #nav2:focus:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0c0";
  }
  #nav2:focus:after{
    content: "Department";
  }
  #nav3:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f1ad";
  }
  #nav3:focus:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f1ad";
  }
  #nav3:focus:after{
    content: "Location";
  }
}

.btn-group>.btn:focus{
  background-color: #007bff !important;
  color: #fff !important;
}

.card-body, .locdep{
  overflow-y: scroll !important;
}
